 <!--TODO: Clean up configuration for removal of password-retrieval component (and link) from member area-->
<md-toolbar>
      <md-list>
        <a href="" class="menu-item-spacer" [routerLink]="['main-home']">Home</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./dashboard']">Dashboard</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./my-items']">My Items</a> <!--(editable) seller item detail-->
        <a href="" class="menu-item-spacer" [routerLink]="['./item-creator']">Create New Listing</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./help']">Help</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./cart']">My Cart</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./checkout']">Checkout</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./transaction-history']">Transaction History</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./user-account-settings']">Account</a>
        <a href="" class="menu-item-spacer" [routerLink]="['./search']">Search</a>
      </md-list>
        <a md-raised-button [routerLink]="['../']" (click)="logOut()">Logout</a>
</md-toolbar>
<router-outlet></router-outlet>
