.menu-item-spacer {
  padding-left: 19px;
}

.mat-list, .mat-nav-list {
  display: contents;
  cursor: hand !important;

}

.mat-toolbar a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-family: Lora, serif;
}
