
<form [formGroup]="regForm" novalidate>
    <md-card [style.width]="'500px'">
        <md-card-header>
            <md-card-title>Account Credentials</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line placeholder="Username" value="Choose a username"
                                type="text" name="username" id="username"
                                formControlName="username" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line placeholder="Password" value="Choose a password"
                                type="password" name="password" id="password"
                                formControlName="password" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line placeholder="Institution E-Mail (.edu)" value="Valid E-Mail Address"
                                type="email" name="emailAddress" id="emailAddress"
                                formControlName="emailAddress" />
                    </md-input-container>
                </md-list-item>
            </md-list>
          <md-list>
            <md-list-item>
              <md-input-container>
                <input mdInput placeholder="Security Question" value=""
                       type="text" name="secQuestion" id="secQuestion"
                       formControlName="idVerQuestion" />
              </md-input-container>
            </md-list-item>
            <md-list-item >
              <md-input-container>
                <input mdInput placeholder="Answer" value=""
                       type="text" name="secAnswer" id="secAnswer"
                       formControlName="idVerAnswer" />
              </md-input-container>
            </md-list-item>
          </md-list>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-title>Personal Information</md-card-title>
        </md-card-header>
        <md-card-content>
                <md-list>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput md-line placeholder="First Name" value="first name"
                                    type="text" name="firstName" id="firstName"
                                    formControlName="firstName" />
                        </md-input-container>
                        <md-input-container>
                            <input mdInput md-line placeholder="Last Name" value="last name"
                                    type="text" name="lastName" id="lastName"
                                    formControlName="lastName" />
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
        <md-card-header>
            <md-card-title>Contact Information</md-card-title>
        </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput md-line type="text" placeholder="Telephone Number" value="(XXX)-XXX-XXXX"
                                    name="telephoneNumber" id="telephoneNumber" formControlName="telephoneNumber" />
                        </md-input-container>
                    </md-list-item>
               </md-list>
                    <md-card-subtitle>
                        Shipping Address
                    </md-card-subtitle>
                    <div formGroupName="shippingAddress">
                        <md-list>
                        <md-list-item>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="First Name" value="addressee first"
                                        name="addresseeFirst" id="addresseeFirst" formControlName="firstName" />
                            </md-input-container>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="Last Name" value="addressee last"
                                        name="addresseeLast" id="addresseeLast" formControlName="lastName" />
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="Street Address" value="222 Broadway"
                                        name="streetShipping" id="streetShipping" formControlName="streetAddress" />
                            </md-input-container>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="Apt/P.O. Box/Suite" value="#"
                                        name="identifier" id="identifier" formControlName="identifier" />
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="City" value="NYC"
                                        name="city" id="city" formControlName="city" />
                            </md-input-container>
                            <md-input-container>
                                <input mdInput md-line type="text" placeholder="State" value="New York"
                                        name="state" id="state" formControlName="state" />
                            </md-input-container>
                            <md-input-container>
                                <input mdInput md-line type="number" placeholder="Zipcode" value="63116"
                                        name="zipcode" id="zipcode" formControlName="zipcode" />
                            </md-input-container>
                        </md-list-item>
                        </md-list>
                    </div>
            </md-card-content>
        </md-card>
    <!--Payment Method Information-->
    <md-card>
        <md-card-header>
            <md-card-title>
                Payment and Deposit Information
            </md-card-title>
        </md-card-header>
            <md-select placeholder="Choose Payment Method" formControlName="pmtMethod" name="paymentOption">
                <md-option *ngFor="let paymentOption of this.paymentOptions" [value]="paymentOption.value">
                    {{ paymentOption.viewValue }}
                </md-option>
            </md-select>
            <md-card-content [ngSwitch]="regForm.controls['pmtMethod'].value">
            <md-list *ngSwitchCase="'credit'">
                <md-list-item>
                    <payment-form #credFormGroup [selectedMethod]="regForm.controls['pmtMethod'].value"></payment-form>
                </md-list-item>
            </md-list>
            <md-list *ngSwitchCase="'debit'">
                <md-list-item>
                    <payment-form #credFormGroup [selectedMethod]="regForm.controls['pmtMethod'].value"></payment-form>
                </md-list-item>
            </md-list>
            <md-list *ngSwitchCase="'check'">
                <md-list-item>
                    <payment-form #credFormGroup [selectedMethod]="regForm.controls['pmtMethod'].value"></payment-form>
                </md-list-item>
            </md-list>
            <md-list *ngSwitchDefault>
            </md-list>
        </md-card-content>
        <md-card-footer>
        </md-card-footer>
    </md-card>
  <a md-raised-button color="accent" [disabled]="!(regForm.valid && isChildValid)" (click)="onSubmit()">submit</a>
</form>
<!--[disabled]="!(regForm.valid && credFormGroup.valid)"-->
