<md-divider>
  <h1 *ngIf="user !== undefined" [style.font-family]="'Lora'">{{user.username}}'s Dashboard</h1>
</md-divider>
<section>

    <md-card-header>
      <md-card-title><h2>Current Activity</h2></md-card-title>
    </md-card-header>

          <div *ngIf="items !== undefined">
            <app-items [items]="items"></app-items>
          </div>
          <div *ngIf="sales !== undefined">
            <app-sales [sales]="sales"></app-sales>
          </div>
          <div *ngIf="orders !== undefined">
            <app-orders [orders]="orders"></app-orders>
          </div>
          <div *ngIf="transactions !== undefined">
          <app-transaction-history [transactions]="transactions"></app-transaction-history>
          </div>










</section>
