@import '~@angular/material/core/theming/prebuilt/indigo-green.css';

md-card {
  height: 100%;
}

img {
  display: table-caption;
  position: absolute;
  height: auto;
  width: 24%;
  top: 154px;
  right: 100px;
  box-shadow: 11px 6px 0.5em 0.01em rgba(0, 0, 0, 0.2);
  /* padding: 10px; */
  background-origin: inherit;
}

textarea {

  resize: none;
  height: 268px;
  width: 568px;
  float: left;
  position: absolute;
  bottom: 198px;
  border-radius: 4px;
  padding: 20px;

}

md-card-footer {
  bottom: -288px !important;
  position: relative;
}

 md-card md-list-item {
  padding: 10px;
}
 md-card-footer {
   padding: 268px 35px;
 }

 button {
   padding-top: 10px;
 }

