<form [formGroup]="itemAttributes" novalidate id="item-creator-form">

    <md-card>
        <md-card-header>
            <md-card-title style="font-size:20px;">New Book Item Creator</md-card-title>
        </md-card-header>
        <md-card-content><md-list-item></md-list-item>
            <md-list>
              <section>
              <md-card-subtitle>* Required</md-card-subtitle>
              </section>
              <md-list-item>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                      <input mdInput md-line placeholder="ISBN 10 or 13*" value=""
                             type="text" name="ISBN" id="ISBN" #ISBN
                             formControlName="ISBN" />
                    </md-input-container>
                    <md-input-container hintLabel="{{pTitle.value.length + '/20'}}" appFormFeedbackMain>
                        <input appFormFeedbackMain mdInput md-line placeholder="Title (primary)*" value=""
                               type="text" name="p-title" id="p-title" #pTitle
                               formControlName="bookTitle" />
                    </md-input-container>
                </md-list-item>
                  <md-list-item>
                    <md-input-container hintLabel="{{sTitle.value.length + '/20'}}" appFormFeedbackMain>
                        <input mdInput md-line placeholder="Title (secondary)" value=""
                               type="text" name="sTitle" id="sTitle" #sTitle
                               formControlName="secondaryTitle" />
                    </md-input-container>
                  </md-list-item>
                  <md-list-item>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                        <input mdInput md-line placeholder="Author(s) 'first, second, ...*'" value=""
                               type="text" name="authors" id="authors" #authors
                               formControlName="authors" />
                    </md-input-container>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                      <input mdInput md-line placeholder="Editors" value=""
                              type="text" name="editors" id="editors" #eds
                              formControlName="editors" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                      <input mdInput md-line placeholder="Edition*" value=""
                             type="number" name="edition" id="edition" #edit
                              formControlName="edition" />
                    </md-input-container>
                    <md-input-container hintLabel="'Month yyyy" appFormFeedbackMain>
                      <input mdInput md-line placeholder="publicationDate*" value=""
                             type="text" name="pubDate" id="pubDate" #pubDate
                             formControlName="publicationDate" />
                    </md-input-container>
                  </md-list-item>
                  <md-list-item>
                    <section>
                      <md-select placeholder="Select book's condition*" formControlName="condition" name="itemCond">
                        <md-option *ngFor="let condition of conditionList" [value]="condition.value">
                          {{ condition.viewValue }}
                        </md-option>
                      </md-select>
                    </section>
                    <section>
                    <md-checkbox mdCheck md-check>Is this book an international edition?</md-checkbox>
                    </section>
                  </md-list-item>
                  <md-list-item>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                      <input mdInput md-line placeholder="MSRP" value=""
                             type="number" name="MSRP" id="MSRP" #MSRP
                             formControlName="MSRP" />
                    </md-input-container>
                    <md-input-container hintLabel="" appFormFeedbackMain>
                      <input mdInput md-line placeholder="Your Price*" value=""
                             type="number" name="salePrice" id="salePrice"
                             formControlName="salePrice" />
                    </md-input-container>
                  </md-list-item>
            </md-list>
          <md-list>
            <md-list-item>
              <md-input-container hintLabel="" appFormFeedback>
                <input mdInput placeholder="Predicted shipment date*" value=""
                               type="date" name="shipsOn" id="shipsOn"
                               formControlName="shipsOn" />
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <textarea formControlName="description">Please compose a description of your item here...</textarea>
            </md-list-item>
          </md-list>
        </md-card-content>
      <md-card-footer>
        <section>
          <md-checkbox mdCheck (check)="setShipmentDate()" formControlName="punctualShipment">I can ship this book by end of next business day</md-checkbox>
        </section>
        <md-card-subtitle>
          <a md-raised-button color="accent" [disabled]="!(itemAttributes.valid)" (click)="onSubmit()">submit</a>
        </md-card-subtitle>
      </md-card-footer>
    </md-card>
</form>

