@import '~@angular/material/core/theming/prebuilt/indigo-green.css';

md-card {
  height: 100%;
}

textarea {

  resize: none;
  height: 268px;
  width: 568px;
  float: left;
  position: absolute;
  bottom: 198px;
  border-radius: 4px;
  padding: 20px;

}

md-card-footer {
  bottom: -288px !important;
  position: relative;
}

 md-card md-list-item {
  padding: 10px;
}
 md-card-footer {
   padding: 268px 35px;
 }

 button {
   padding-top: 10px;
 }

