@import '~@angular/material/core/theming/prebuilt/indigo-green.css';

.mat-card {
  height: 900px;
}

 md-card md-list-item {
  padding: 16px 35px;
  text-shadow: 3px 5px 4px rgba(48, 48, 48, 0.17);
}

 md-card-footer {
   padding: 16px 35px;
 }

 button {
   padding-top: 10px;
 }
