<ul *ngIf="items !== undefined">
  <li *ngFor="let it of items">
    <md-card>
      <md-card-header>
        <md-card-title>{{it.bookTitle}}</md-card-title>
      </md-card-header>
        <md-card-content (mouseover)="selectItem(it)" [style.color]="'#424242'" [style.padding]="'1px'">
          <md-list>
            <md-list-item>author(s): {{it.authors}}</md-list-item>
            <md-list-item>edition: {{it.edition}}</md-list-item>
            <md-list-item>editor(s): {{it.editors}}</md-list-item>
            <md-list-item>quantity: {{it.quantity}}</md-list-item>
            <md-list-item>condition: {{it.condition}}</md-list-item>
            <md-list-item>your price: {{it.salePrice | currency }}</md-list-item>
          </md-list>
        </md-card-content>
      <button md-raised-button color="accent" [disabled]="it !== item" (click)="detailView()">Details</button>
    </md-card>
  </li>
</ul>
