<h1>
  {{title}}
</h1>

<p>Navigation:
	<a [routerLink]="['/']">(Logo here)</a>
    <a [routerLink]="['registration']">Register</a>
    <a [routerLink]="['main-area/main-home']">Enter</a>
    <a [routerLink]="['administration/']">Administrator</a>
</p>
<div>
    <a md-button color="primary">Flat Button</a>
    <a md-raised-button color="accent">Raised Button</a>
    <a md-fab color="primary"><md-icon>check</md-icon></a>
    <a md-mini-fab color="primary"><md-icon>check</md-icon></a>
</div>
<h3>Current Route:</h3>

<router-outlet></router-outlet>