<ul *ngIf="sales !== undefined">
  <li *ngFor="let s of sales">
    <md-card>
      <md-card-header>
        <md-card-title>{{s.title}}</md-card-title>
        <md-card-subtitle>{{s.orderDate | date }}</md-card-subtitle>
      </md-card-header>
        <md-card-content (mouseover)="selectSale(s)" [style.padding]="'1px'">
          <md-list>
            <md-list-item>Seller: {{s.customer}}</md-list-item>
            <md-list-item>authors: {{s.authors}}</md-list-item>
            <md-list-item>condition: {{s.condition}}</md-list-item>
            <md-list-item>Shipment promised for: {{s.shipmentDate | date }}</md-list-item>
            <md-list-item>Actual shipment date: {{s.actualShipDate | date }}</md-list-item>
            <md-list-item>Tracking #: {{s.trackingNum}}</md-list-item>
          </md-list>
        </md-card-content>
      <button md-raised-button color="accent" [disabled]="sale !== s" (click)="detailView()">Detail</button>
    </md-card>
  </li>
</ul>
