<form [formGroup]="searchForm" novalidate >
    <md-card class="background-primary-color">
      <md-card-header>
        <md-card-title [style.font-size]="'3em'">Search</md-card-title>
      </md-card-header>
      <md-card-content>
          <section>
            <md-card-subtitle>* Required</md-card-subtitle>
          </section>
          <md-list>
            <md-list-item>
              <md-input-container hintLabel="" appFormFeedbackMain>
                <input mdInput md-line placeholder="ISBN-10 or -13" value=""
                       type="text" name="ISBN" id="ISBN" #ISBN
                       formControlName="isbn"/>
              </md-input-container>
              <md-input-container appFormFeedbackMain>
                <input appFormFeedbackMain mdInput md-line placeholder="Book Title" value=""
                       type="text" name="p-title" id="p-title" maxlength="100" #pTitle
                       formControlName="title"/>
              </md-input-container>
            </md-list-item>
            </md-list>
        <a md-raised-button color="accent" (click)="onSubmit()">Search</a>
      </md-card-content>
    </md-card>
</form>
      <div>
        <md-list *ngIf="currentResults !== undefined" [style.overflow]="'visible'">
          <md-list-item *ngFor="let result of currentResults" [style.padding-top]="'162px'">
            <md-divider [style.font-size]="'.9em'">
              <h3>{{result.bookTitle}}</h3>
              <h5>{{result.secondaryTitle}}</h5>
              <h5>{{result.authors}}</h5>
              <p>Edition {{result.edition}}</p>
              <p>Condition {{result.condition}}</p>
              <p>Price ${{result.salePrice}}</p>
              <h5>Book seller: {{result.sellerUsername}}</h5>>
              <md-divider *ngIf="result.internationalEdition !== undefined">
                <p>International Edition? {{result.internationalEdition}}</p>
              </md-divider>
            </md-divider>
          </md-list-item>
        </md-list>
      </div>
      <app-pagination [offset]="offset" [size]="size" [limit]="limit" (change)="onPageChange($event)"></app-pagination>
