/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/theming/prebuilt/indigo-green.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  font-family: 'Lora', serif;
  background-color: #4CAF50;
 }

.login-image {
  //background-image: url("/assets/login-bg.jpeg");
  background-size: cover;
}

.mat-card-title, .mat-card-subtitle {
  font-family: 'Lora', serif;
  color: beige;
}

.primary-color {
    color: #303F9F!important;
  }
.accent-color {
    color: #4CAF50!important;
  }

.background-primary-color {
    background-color: #606060;
  }

.background-accent-color {
    background-color: #4CAF50!important;
  }

.mat-card-content input {
  color: white;
  font-family: 'Lora', serif;
}

md-input-container {
  color: #ca3030;
  font-size: 1.05em;
}

.mat-select-value-text {
  padding: 5px;
  color: white;
}

div.mat-select-trigger {
  color: white;
}

/* md-card styles */
md-card-content.mat-card-content {

  padding: 10px;
  border-radius: 1px;
}

.mat-card-content input, div.mat-select-trigger, md-input-container, .mat-option-ripple.mat-ripple, h1, h2, h3, h4, h5, p {

  font-family: Lora serif !important;

}

/* tag attributes */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
}
