<h2 [routerLink]="['/']">Text Direct</h2>
<md-card id="login">
  <md-card-header>
  </md-card-header>
    <md-card-content>
    <div id="form">
        <form [formGroup]="credentialsForm">
            <p>{{logInOutcome}}</p>
            <md-input-container>
                <input mdInput type="text" placeholder="username" formControlName="username" value="Student Seller">
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" placeholder="password" formControlName="password">
            </md-input-container>
            <a md-raised-button color="accent" (click)="logIn()">Submit</a>
          <p>
              Register: <a [routerLink]="['registration']">Here</a>

              <!--<a [routerLink]="['main-area/main-home']">Enter</a>
              <a [routerLink]="['administration/']">Administrator</a>-->
          </p>
            <!--<a md-button color="primary">Flat Button</a>

            <a md-fab color="primary"><md-icon>check</md-icon></a>
            <a md-mini-fab color="primary"><md-icon>check</md-icon></a>-->
        </form>
      </div>
    </md-card-content>
</md-card>
