<p>
    Navigation:
    <a [routerLink]="['/']">(Logo here)</a>
    <a [routerLink]="['registration']">Register</a>
    <!--<a [routerLink]="['main-area/main-home']">Enter</a>
    <a [routerLink]="['administration/']">Administrator</a>-->
</p>
<div>
    <h2>{{logInOutcome}}</h2>
    <md-input-container>
        <input mdInput type="text" placeholder="username" [(ngModel)]="username" value="Student Seller">
    </md-input-container>
    <md-input-container>
        <input mdInput type="password" placeholder="password" [(ngModel)]="password">
    </md-input-container>
    <a md-raised-button color="accent" (click)="logIn()">Submit</a>
    <!--<a md-button color="primary">Flat Button</a>

    <a md-fab color="primary"><md-icon>check</md-icon></a>
    <a md-mini-fab color="primary"><md-icon>check</md-icon></a>-->
</div>
