<form [formGroup]="cardForm">
    <!--card form template-->
    <md-grid-list>
        <md-grid-tile *ngIf="cardForm !== null">
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Name on Card" value="John Q. Public"
                               name="nameOnCard" id="nameOnCard" formControlName="nameOnCard" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="number" placeholder="Card Number" value="5555 5555 5555 5555"
                               name="lastFour" id="lastFour" formControlName="lastFour" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line type="date" placeholder="Expiration Date" value="MM/YY"
                               name="expirationDate" id="expirationDate" formControlName="expirationDate" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-select placeholder="Card Company" [(ngModel)]="selectedCompany" name="company" id="company">
                        <md-option *ngFor="let company of companies" [value]="companies.value">
                            {{company.viewValue}}
                        </md-option>
                    </md-select>
                </md-list-item>
            </md-list>
        </md-grid-tile>
    </md-grid-list>
    <!--bank account form template-->

</form>