<form [formGroup]="paymentMethods" class="billingSubGroup" >
    <!--card form template-->
        <div *ngIf="selectedMethod !== 'check'" formGroupName="credit">
            <md-list>
                <md-list-item>
                    <md-input-container hintLabel="{{ noc.value.length }}" appFormFeedback >
                        <input mdInput md-line type="text" #noc placeholder="Full Name (as appears on card)" value=""
                                name="nameOnCard" id="nameOnCard" formControlName="nameOnCard"/>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback >
                        <input mdInput md-line type="text" placeholder="Card Number" value="" maxlength="19"
                               name="lastFour" id="lastFour" formControlName="lastFour" />
                    </md-input-container>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="date" placeholder="Expiration Date" value="MM/YY"
                               name="expirationDate" id="expirationDate" formControlName="expirationDate" />
                    </md-input-container>
                </md-list-item>
                    <md-list-item>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput type="number" placeholder="CVC" value="000" maxlength="3"
                                   name="cardSecurity" id="cardSecurityCode" formControlName="cardSecurityCode" />
                        </md-input-container>
                    </md-list-item>
            </md-list>
        <md-list>
            <div formGroupName="billingAddress">
                <md-card-subtitle>
                    Billing Address
                </md-card-subtitle>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput type="text" name="fullName" id="fullNameBill"
                                placeholder="Full name (as appears on card)" value=""
                                formControlName="fullName" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput type="text" placeholder="Address Line 1" value="7 North Ln"
                                name="streeAddress" id="streetAddressCard" formControlName="streetAddress" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback >
                        <input mdInput type="text" placeholder="Box/Apt/Ste" value="PO Box 58"
                                name="identifier" id="identifierCard" formControlName="identifier" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="City" value="New York City"
                                name="city" id="city" formControlName="city" />
                    </md-input-container>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="State" value="New York"
                                name="state" id="state" formControlName="state" />
                    </md-input-container>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="Zipcode" value=""
                                name="zipcode" id="zipcode" formControlName="zipcode"/>
                    </md-input-container>
                </md-list-item>
            </div>
        </md-list>
        </div>
        <div *ngIf="selectedMethod !== 'debit'" formGroupName="cash">
        <!--<div *ngFor="let method of [1]; let i = index">-->
            <!--<div [formGroupName]="i">-->
                <md-list>
                <md-list-item>
                    <md-input-container appFormFeedback hintLabel="{{ nocahn.value.length }}">
                        <input mdInput type="text" #nocahn placeholder="Full Name (as appears on record)" value=""
                               name="accountHolderName" id="accountHolderName" formControlName="accountHolderName" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="Routing number" value=""
                               name="routingNumber" id="routingNumber" formControlName="routingNumber" />
                    </md-input-container>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="Account Number" value=""
                               name="accountNumber" id="accountNumber" formControlName="accountNumber" />
                    </md-input-container>
                    <md-input-container hintLabel="..." appFormFeedback>
                        <input mdInput md-line type="text" placeholder="Driver License or ID #" value=""
                               name="driversLicenseNum" id="driversLicenseNum" formControlName="driverLicenseNum" />
                    </md-input-container>
                </md-list-item>
                <div formGroupName="billingAddress">
                    <md-list-item>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput type="text" name="fullName" id="fullNameBill"
                                   placeholder="Full Name (as appears on card)" value="John Q. Citizen"
                                   formControlName="fullName" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput type="text" placeholder="Address Line 1" value="7 North Ln"
                                   name="streeAddress" id="streetAddressCard" formControlName="streetAddress" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput type="text" placeholder="Box/Apt/Ste" value="PO Box 58"
                                   name="identifier" id="identifierCard" formControlName="identifier" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput md-line type="text" placeholder="City" value="New York City"
                                   name="city" id="city" formControlName="city" />
                        </md-input-container>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput md-line type="text" placeholder="State" value="New York"
                                   name="state" id="state" formControlName="state" />
                        </md-input-container>
                        <md-input-container hintLabel="..." appFormFeedback>
                            <input mdInput md-line type="number" placeholder="Zipcode" value="10108"
                                   name="zipcode" id="zipcode" formControlName="zipcode" />
                        </md-input-container>
                    </md-list-item>
                </div>
            </md-list>
        </div>
</form>

