<form [formGroup]="paymentMethods" class="billingSubGroup" novalidate>
    <!--card form template-->
        <div *ngIf="selectedMethod !== 'check'" formGroupName="credit">            
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Full Name (as appears on card)" value="John Q. Public"
                               name="nameOnCard" id="nameOnCard" formControlName="nameOnCard"/>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="number" placeholder="Card Number" value="" maxlength="19"
                               onchange="detectcard()" name="lastFour" id="lastFour" formControlName="lastFour" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Expiration Date" value="MM/YY"
                               name="expirationDate" id="expirationDate" formControlName="expirationDate" />
                    </md-input-container>
                </md-list-item>                
                    <md-list-item>
                        <md-input-container>
                            <input mdInput type="number" placeholder="CVC" value="000" maxlength="3"
                                   name="cardSecurity" id="cardSecurityCode" formControlName="cardSecurityCode" />
                        </md-input-container>
                    </md-list-item>
            </md-list>            
        <md-list>
            <div formGroupName="billingAddress">
                <md-list-item>
                    <md-input-container>
                        <input mdInput type="text" name="fullName" id="fullNameBill"
                                placeholder="Full name (as appears on card)" value="John Q. Citizen"
                                formControlName="fullName" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput type="text" placeholder="Address Line 1" value="7 North Ln"
                                name="streeAddress" id="streetAddressCard" formControlName="streetAddress" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput type="text" placeholder="Box/Apt/Ste" value="PO Box 58" 
                                name="identifier" id="identifierCard" formControlName="identifier" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="City" value="New York City"
                                name="city" id="city" formControlName="city" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="State" value="New York"
                                name="state" id="state" formControlName="state" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line required [(ngModel)]="zipCode" type="text" placeholder="Zipcode" value=""
                                name="zipcode" id="zipcode" formControlName="zipcode" />
                        <md-hint *ngIf="!isValid('credit', 'zipcode')" align="right" [ngStyle]="{'color': 'red'}">xxxxx-xxxx or xxxxx</md-hint>
                    </md-input-container>
                </md-list-item>
            </div>
        </md-list>           
        <a md-raised-button color="accent" (click)="addressValidator(billingAddress)">submit</a>
        </div>                             
        <div *ngIf="selectedMethod !== 'debit'" formGroupName="cash">
        <!--<div *ngFor="let method of [1]; let i = index">-->
            <!--<div [formGroupName]="i">-->
                <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput type="text" placeholder="Full name (as appears on acct record)" value="John Q. Citizen"
                               name="accountHolderName" id="accountHolderName" formControlName="accountHolderName" />
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Routing number" value=""
                               name="routingNumber" id="routingNumber" formControlName="routingNumber" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Account Number" value=""
                               name="accountNumber" id="accountNumber" formControlName="accountNumber" />
                    </md-input-container>
                    <md-input-container>
                        <input mdInput md-line type="text" placeholder="Driver license or ID #" value=""
                               name="driversLicenseNum" id="driversLicenseNum" formControlName="driverLicenseNum" />
                    </md-input-container>
                </md-list-item>
                <div formGroupName="billingAddress">
                    <md-list-item>
                        <md-input-container>
                            <input mdInput type="text" name="fullName" id="fullNameBill"
                                   placeholder="Full name (as appears on card)" value="John Q. Citizen"
                                   formControlName="fullName" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput type="text" placeholder="Address Line 1" value="7 North Ln"
                                   name="streeAddress" id="streetAddressCard" formControlName="streetAddress" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput type="text" placeholder="Box/Apt/Ste" value="PO Box 58"
                                   name="identifier" id="identifierCard" formControlName="identifier" />
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <input mdInput md-line type="text" placeholder="City" value="New York City"
                                   name="city" id="city" formControlName="city" />
                        </md-input-container>
                        <md-input-container>
                            <input mdInput md-line type="text" placeholder="State" value="New York"
                                   name="state" id="state" formControlName="state" />
                        </md-input-container>
                        <md-input-container>
                            <input mdInput md-line type="number" placeholder="Zipcode" value="10108"
                                   name="zipcode" id="zipcode" formControlName="zipcode" />
                        </md-input-container>
                    </md-list-item>
                </div>
            </md-list>
        </div>
</form>
   
